//=====theme======

//gold
$gold-background-color: rgb(240, 208, 93);
$gold-outline-color:1px solid rgb(245, 203, 49);
$gold-shadow:0px 0px 25px rgba(240, 208, 93, 0.438);
$gold-text-color: #212121;
$gold-text-color-secondary: rgb(245, 203, 49);
$gold-hover-btn-color: rgb(236, 199, 64);
$gold-hover-btn-color-secondary: rgba(222, 190, 73, 0.151);
