//light

$light-background-color: #f5f5f5;
$light-text-color: #333333;
$light-hover-btn-color: #e6e6e6;

//dark

$dark-background-color: #333333;
$dark-hover-btn-color: #505050;
$dark-text-color: #f5f5f5;